* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
  'Lucida Sans', Arial, sans-serif;
  background: linear-gradient(
    90deg,
    rgb(71, 6, 80) 0%,
    rgb(14, 149, 173) 100%
  );
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  background: #161a2b;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
  box-shadow: 7px 7px rgba(0, 0, 0, 0.2);
}

h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}

.search-form {
  margin-top: 40px;
  display: block;
  width: 100%;
  
}

.location-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid rgb(71, 6, 80);
  outline: none;
  width: 320px;
  background: transparent;
  color: #fff;
  margin-top: 60px;
  box-shadow: 0px 7px rgba(0, 0, 0, 0.2);
}

.location-input:focus {
  background-color: #1c2135
}

.location-input::placeholder {
  color: #e2e2e2;
}

.search-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgba(71, 6, 80) 0%,
    rgba(14, 149, 173) 100%
  );
  color: #fff;
  text-transform: capitalize;
  box-shadow: 7px 7px rgba(0, 0, 0, 0.2);
}

.location-weather {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 394px;
  min-height: 400px;
  background: #161a2b;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
  border: 1px solid rgb(46, 46, 46);
  box-shadow: 7px 7px rgba(0, 0, 0, 0.2);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
  'Lucida Sans', Arial, sans-serif;
}

.location-box .location {
  color: #fff;
  font-size: 28px;
  word-wrap: break-word;
  white-space: initial;
  font-weight: 300;
  text-align: center;
  margin: 20px;
  text-shadow: 3px 3px rgba(40, 138, 204, 0.5);
}

.weather-box {
  text-align: center;
}

.weather-box .temperature {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  border-radius: 16px;
  padding: 15px 25px;
  color: #fff;
  font-size: 90px;
  font-weight: 600;
  text-shadow: 3px 6px rgba(84, 20, 167, 0.5);
  text-align: center;

}

.weather-box .weather {
  color:#fff;
  font-size: 32px;
  font-weight: 300;
  text-shadow: 3px 3px rgba(37, 211, 241, 0.514);
}

.error-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 394px;
  min-height: 50px;
  background: linear-gradient(
    90deg,
    rgba(71, 6, 80) 0%,
    rgba(14, 149, 173) 100%
  );
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  /* padding-bottom: 32px; */
  border: 1px solid rgb(22, 22, 22);
  box-shadow: 7px 7px rgba(0, 0, 0, 0.2);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
  'Lucida Sans', Arial, sans-serif;
}

.error-box .error-message {
  color: #FFF;
  text-shadow: 2px 2px #2e2e2e;
  white-space: initial;
}